---
import Layout from "../layouts/Layout.astro";

import CustomButton from "@/components/CustomButton";

import { Image } from "astro:assets";

import Logo from "../assets/logo.jpg";
---

<Layout title="BITL Blog | Home">
  <main class="mx-auto w-[90%] max-w-screen-2xl">
    <section
      class="relative mx-auto mt-[120px] grid min-h-[calc(100vh_-_140px)] w-[95%] grid-cols-1 items-center sm:w-[90%] lg:grid-cols-2"
    >
      <div class="flex flex-col items-start justify-center gap-3">
        <div class="flex flex-col items-start justify-center gap-3">
          <h1 class="text-4xl md:text-5xl lg:text-6xl">
            <span class="font-semibold">Before</span> It's <span
              class="whitespace-nowrap font-semibold">Too Late</span
            >
          </h1>
          <p class="max-w-xs text-sm sm:max-w-xl sm:text-base xl:text-lg">
            We <span class="font-semibold">ignite your love</span> for Earth, unravel
            its wonders, and <span class="font-semibold">empower you</span> to protect
            it - <span class="font-semibold text-primary"
              >it's never too late to make a difference!</span
            >
          </p>
          <p class="sm:text-lg">
            Project number: <span class="font-semibold sm:font-bold"
              >2021-1-RO01-KA220-SCH-000032488</span
            >
          </p>
        </div>
        <CustomButton link="#discover" size="lg">Discover</CustomButton>
      </div>
      <Image
        src={Logo}
        loading="eager"
        alt="Global Warming Ilustration"
        class="xs:max-w-xs w-full max-w-[275px] self-start justify-self-center sm:max-w-sm lg:self-auto lg:justify-self-end 2xl:max-w-md"
      />
    </section>
  </main>
</Layout>
